[submodule "ref-repos/EvoMaster"]
	path = ref-repos/EvoMaster
	url = https://github.com/sjtu-sai-agents/EvoMaster.git
[submodule "ref-repos/MagiClaw"]
	path = ref-repos/MagiClaw
	url = https://github.com/sjtu-sai-agents/MagiClaw.git
[submodule "ref-repos/Awesome-AI-Scientist"]
	path = ref-repos/Awesome-AI-Scientist
	url = https://github.com/ResearAI/Awesome-AI-Scientist.git
